---
layout: archive
permalink: /blog/os/
title: "Blog: Operating System"
author_profile: true
---

{% include base_path %}
<div class="category-nav" style="margin-bottom: 2em;">
  <a href="/blog/">All</a> | 
  <a href="/blog/gpu/">GPU</a> | 
  <a href="/blog/architecture/">Computer Architecture</a> | 
  <b>Operating System</b>
</div>

{% assign posts = site.categories["Operating System"] %}
{% if posts.size > 0 %}
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No posts in this category yet.</p>
{% endif %}
