---
layout: archive
permalink: /blog/architecture/
title: "Blog: Computer Architecture"
author_profile: true
---

{% include base_path %}
<div class="category-nav" style="margin-bottom: 2em;">
  <a href="/blog/">All</a> | 
  <a href="/blog/gpu/">GPU</a> | 
  <b>Computer Architecture</b> | 
  <a href="/blog/os/">Operating System</a>
</div>

{% assign posts = site.categories["Computer Architecture"] %}
{% if posts.size > 0 %}
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No posts in this category yet.</p>
{% endif %}
