---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


<div class="projects-container">
  {% for project in site.data.projects %}
    <div class="archive__item" style="margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #eee;">
      <h2 class="archive__item-title" itemprop="headline">{{ project.title }}</h2>
      <p class="page__meta">
        {% if project.date %}<strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ project.date }}</strong>{% endif %}
        {% if project.role %}&nbsp; | &nbsp;<strong><i class="fa fa-fw fa-user" aria-hidden="true"></i> {{ project.role }}</strong>{% endif %}
        {% if project.technologies %}&nbsp; | &nbsp;<strong><i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ project.technologies }}</strong>{% endif %}
      </p>
      {% if project.excerpt %}
        <p class="archive__item-excerpt" itemprop="description" style="font-size: 1.1em;"><em>{{ project.excerpt }}</em></p>
      {% endif %}
      <div class="project-description">
        {{ project.description | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>

